@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@1,6..12,800&family=Tektur:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Home Tab Hover */

.tab-name {
  box-shadow: inset 0 0 0 0 rgb(219, 234, 254);
}

.tab-name:hover {
  box-shadow: inset 250px 0 0 0 black;
}

/* Floating Letters Animation */

.floating {
  color: rgb(219, 234, 254);
  animation-name: floating;
  animation-duration: 4.5s;
  animation-iteration-count: infinite;
}

@keyframes floating {
  0% {
    transform: translateY(0%) rotate(-55deg);
  }
  50% {
    transform: translateY(280%) rotate(360deg);
  }
  100% {
    transform: translateY(0%) rotate(-55deg);
  }
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 11px;
}

::-webkit-scrollbar-track {
  border-left: 1px solid rgb(219, 234, 254);
  border-right: 1px solid rgb(219, 234, 254);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

/* Radio Input */

input[type="radio"]:checked + label {
  border-color: white;
  background-color: black;
  opacity: 1;
}
